@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

* {
  overflow: hidden;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  padding: 0;
  animation: ripple 100ms linear;
}

@keyframes ripple {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  height: 100%;
}

.page {
  width: 100vw;
  height: 100%;
  position: absolute;
  display: none;
}

h1 {
  margin: 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-image:
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 35s linear infinite;

}



.mainmenu_controls {
  height: 100%;
}

li {
  margin: 2rem;
}

li>button {
  padding: 0.4rem;
  list-style: none;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 5%;
  background-color: transparent;
  border: none;
  background-image:
    linear-gradient(120deg, rgba(255, 0, 0, 0.164), rgba(255, 166, 0, 0.336), rgba(255, 255, 0, 0.37), rgba(0, 128, 0, 0.308), rgba(0, 0, 255, 0.452), rgba(76, 0, 130, 0.404), rgba(238, 130, 238, 0.479), rgba(255, 0, 0, 0.466));
  animation: rainbow-animation 120s linear infinite;
}


@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}


li>button:hover {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  animation: rainbow-animation 40s linear infinite;
}

li>button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

li>button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

li>button:hover span {
  padding-right: 25px;
}

li>button:hover span:after {
  opacity: 1;

}


.boxes {
  margin: 0 auto;
  display: none;
  color: black;
  width: fit-content;
  overflow-y: auto;
  padding: 3rem;
  height: auto;
  z-index: 4;
  max-height: 40rem;
  background-color: rgba(240, 240, 240, 0.693);
}

#start_game {
  background-image: url(/res/imgs/room.jpg);
  text-align: center;
}

#doors {
  position: absolute;
  left: -18%;
  bottom: 1rem;
  width: 35rem;
}


.tooltiptext {
  visibility: hidden;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.home__options {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
}

#storyTime {
  width: 100vw;
  height: 100vw;
  margin: auto;
  background-color: black;
}

#storyTime__text {
  font-family: monospace;
  color: white;
  height: 100%;
  text-align: center;
  font-size: 30px;
}

.arrow {
  position: absolute;
  height: 35px;
  left: 0;
  transform: translate(20%, -20%);
  display: none;
  width: auto;
  height: auto;
  font-size: 50px;
  color: white;
  border-radius: 50%;

  animation: none;
}

.right {
  transform: rotate(180deg);
}

.action-left,
.action-right,
.action-down {
  position: absolute;
  height: 100%;
  background-color: transparent;
  border: none;
  width: 5rem;
}

.action-left {
  left: 0%;
}

.action-right {
  top: 0;
  right: 0%;
}

.action-down {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
}



#goOut {
  background: url(/res/imgs/outside.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#goHomeGym {
  background: url(/res/imgs/homeGym.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.postava {
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  bottom: 0%;
  left: 8%;
  position: absolute;
  transition: ease-in 1s;
}

#postavaFight {
  width: 15%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20rem;
  bottom: 0%;
  left: 8%;
  position: absolute;
  transition:linear 1s;
}


#enemy {
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  bottom: 0%;
  right: 8%;
  position: absolute;
}

#mainmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/res/imgs/main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.onMobile {
  display: none;
}

@media all and (max-width: 1012px) {
  .onMobile {
    display: flex;

    /*this centers the text horizontally*/
    justify-content: center;

    /*this centers the text vertically*/
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: black;
    color: red;
    text-align: center;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

#attack {
  margin: 0 auto;
}

#endText {
  display: none;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-title {
  margin-top: 1rem;
  text-transform: uppercase;
}

.card-text {
  font-size: 10px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-row-start: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.card-body {
  height: 30rem;
}

.card-body > button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .2rem;
  padding: 0.2rem;
  text-transform: uppercase;
}




progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: ease-in;
}