* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.page {
  width: 100vw;
  height: 100vw;
  display: none;
}


.mainmenu_controls {
  height: 100%;
}

li {
  margin: 2rem;
}
button{
  padding: 0.4rem;
  list-style: none;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}



button:hover {
  background: #fec771;
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}


.boxes {
  margin: 0 auto;
  display: none;
  color: black;
  border-radius: 1.5rem;
  width: fit-content;
  padding: 3rem;
  height: auto;
  max-height: 40rem;
  background-color: rgba(240, 240, 240, 0.693);
}

#start_game {
  background-image: url(/res/imgs/room.jpg);
  text-align: center;
}

#doors {
  position: absolute;
  left: -18%;
  bottom: 1rem;
  width: 35rem;
}

.tooltiptext {
  visibility: hidden;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#doors:hover .tooltiptext {
  visibility: visible;
}

.home__options {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
}

#storyTime {
  width: 100vw;
  height: 100vw;
  margin: auto;
  background-color: black;
}

#storyTime__text {
  font-family: monospace;
  color: white;
  height: 100%;
  text-align: center;
  font-size: 30px;
}

.arrow {
  position: absolute;
  height: 35px;
  left: 0;
  transform: translate(0%, -50%);
  display: none;
  width: auto;
  height: auto;
  font-size: 50px;
  color: white;
  border-radius: 50%;
}

.right {
  transform: rotate(180deg);
}

#action-left,
#action-right {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: transparent;
  border: none;
  width: 5rem;
}

#action-left {
  left: 0%;
}

#action-right {
  top: 0;
  right: 0%;
}



#goOut {
  background: url(/res/imgs/outside.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#goHomeGym {
  background: url(/res/imgs/homeGym.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.postava {
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  bottom: 0%;
  left: 8%;
  position: absolute;
}

#postavaFight {
  width: 15%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20rem;
  bottom: 0%;
  left: 8%;
  position: absolute;
}


#enemy {
  width: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  bottom: 0%;
  right: 8%;
  position: absolute;
}

#mainmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onMobile {
  display: none;
}

@media all and (max-width: 1012px) {
  .onMobile {
    display: flex;

    /*this centers the text horizontally*/
    justify-content: center;

    /*this centers the text vertically*/
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: black;
    color: red;
    text-align: center;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}







progress {
  position: absolute;
  bottom: 0;
  width: 100%;
}
